.study__button_active {
  background: #e0f0ff;
  color: #000d26;
  font-weight: 600;
  max-width: 149px;
}

@media screen and (min-width: 768px) {
  .study__button_active {
    max-width: 225px;
  }
}

@media screen and (min-width: 1200px) {
  .study__button_active {
    max-width: 280px;
    width: 110%;
  }
}
