/*! Flex */
/* .project__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 140px;
  height: 140px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #009fac;
  position: relative;
  cursor: default;
} */

/*! Grid */
.project__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #009fac;
  position: relative;
  cursor: default;
}
