.section-title.intro__section-title {
  margin: 0 0 12px;
}

@media screen and (min-width: 576px) {
  .section-title.intro__section-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .section-title.intro__section-title {
    margin: 0px -9px 27px 0;
  }
}
