.button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  padding: 12px 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .button {
    max-width: 350px;
  }
}
