@media screen and (min-width: 768px) {
  .card_image_project {
    background-image: linear-gradient(#fff, transparent),
      url(../../../images/lab/project-background.png);
  }

  .card_image_brain {
    background-image: linear-gradient(#fff, transparent),
      url(../../../images/lab/brain-background.png);
  }

  .card_image_micro {
    background-image: linear-gradient(#fff, transparent),
      url(../../../images/lab/micro-background.png);
  }

  .card_image_robot {
    background-image: linear-gradient(#fff, transparent),
      url(../../../images/lab/robot-background.png);
  }
}
