@media screen and (min-width: 768px) {
  .study__content {
    min-width: 340px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .study__content {
    margin-right: 83px;
  }
}
