.study__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.study__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .study__link {
    margin-top: 20px;
    max-width: 120px;
  }
  .study__link:hover .study__link_text,
  .study__link:active .study__link_text {
    font-weight: 700;
    margin-right: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .study__link {
    margin-top: 20px;
    max-width: 145px;
  }
}
