.study__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.study__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .study__link {
    margin-top: 20px;
  }
}
