.footer__copyright {
  grid-area: copyright;
  max-width: 140px;
  margin: 0;
  line-height: 1.33;
  white-space: pre-line;
}

@media (min-width: 576px) {
  .footer__copyright {
    max-width: none;
    margin-bottom: 30px;
  }
}
