/* Project */
.project__card-btn {
  margin: 0;
  padding: 0;

  width: 20px;
  height: 20px;

  background-color: #FFF;
  background-image: url(../../../images/ico/arrow-right-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  opacity: 1;
  border: none;
  border-radius: 50%;

  position: absolute;
  bottom: 10px;
  right: 10px;
}

.project__card-btn:hover {
  cursor: pointer;
}
