.project__card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
  border: none;
}

.project__card-btn:hover {
  cursor: pointer;
}
