.lab {
  margin: 0 auto;
  padding: 40px 16px;
}

@media screen and (min-width: 768px) {
  .lab {
    padding: 60px 39px;
  }
}

@media screen and (min-width: 992px) {
  .lab {
    padding: 80px 39px;
    max-width: 1110px;
  }
}
