.intro__background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../../images/background.png);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 90% top;
  transform: scale(-1, 1);
}

@media screen and (min-width: 576px) {
  .intro__background-image {
    background-position: 50% top;
  }
}

@media screen and (min-width: 992px) {
  .intro__background-image {
    transform: scale(1, 1);
    background-position: top left;
    background-size: 90%;
  }
}
