.contact-us {
  background: #009FAC;
}

.section__title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  text-align: center;
}

.seciton__subtitle {
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
}
