.publication__read {
  text-decoration: none;
  font-weight: 600;
  line-height: 19px;
  color: white;
  display: flex;
  align-items: center;
}

.publication__read:visited {
  color: white;
}

.publication__read:hover {
  color: white;
}
