.study__list {
  margin: 0 0 12px 0;
  padding: 0 0 0 18px;
  color: #000d26;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .study__list {
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .study__list {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 38px;
    margin-left: 10px;
  }
}
