/* Project */
.project {
  margin: 0 auto;
  padding: 40px 16px;
  background: #001337;

  min-width: 288px;
  width: 100%;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
