.select-filter_open .select-filter__subtitle {
  padding-left: 16px;
}

.select-filter_open .select-filter__btn-list {
  transform: rotate(-180deg);
}

.select-filter_open ~ .select-filter__menu {
  visibility: visible;
  opacity: 1;
}
