@media(min-width: 922px) {
  .project__card_type_sberbank:hover {
    background: #e0f0ff url(../../../../images/projects/project-snerbank.png) no-repeat right bottom/contain;
    color: #001337;
  }

  .project__card_type_sberbank:hover .sberbank {
    fill: #001337;
  }

  .project__card_type_sberbank:hover .project__card-btn {
    background-color: #009fac;
  }

  .project__card_type_sberbank:hover .arrow {
    stroke: #E0F0FF;
  }
}
