@media(min-width: 922px) {
  .project__card_type_gazprom:hover {
    background: #e0f0ff url(../../../../images/projects/project-gazprom.png) no-repeat right bottom/contain;
    color: #001337;
  }

  .project__card_type_gazprom:hover .gazprom {
    fill: #001337;
  }

  .project__card_type_gazprom:hover .project__card-btn {
    background-color: #009fac;
  }

  .project__card_type_gazprom:hover .arrow {
    stroke: #E0F0FF;
  }
}
