.card__btn {
  padding: 0;
  margin-top: auto;
  width: 100%;
  height: 32px;
  border: 1px solid #001337;
  border-radius: 5px;
  background: none;
  color: #001337;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .card__btn {
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .card__btn {
    height: 40px;
    font-size: 14px;
    line-height: 19px;
  }
}
