.footer {
  background-color: #001337;
  color: #fff;
  padding: 40px 16px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 40px 8px;
  grid-template-areas:
    'logo copyright'
    'menufirst menusecond'
    'address address'
    'madeby madeby';
}
