/* Project */
.project__card-text {
  width: 100%;
  height: 55px;
  margin: 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  overflow: hidden;
  text-overflow: ellipsis; /* Многоточие ... в конце текса */
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
}
