/* Project */
.project__card_active {
  width: 288px;
  flex-direction: row;
}

.project__card_active .project__card-logo {
  margin: 16px 16px 0 0;
  fill: #001337;
  order: 1;
}

.project__card_active .project__card-text {
  margin: 16px 24px 16px 16px;
  width: 172px;
  max-height: 98px;
  color: #001337;
  order: 0;
}

.project__card_active .project__card-btn {
  background-color: #009fac;
  background-image: url(../../../../images/ico/arrow-left.svg);

  bottom: 16px;
  right: 16px;
}
