.footer__madeby {
  grid-area: madeby;
  max-width: 300px;
  width: 100%;
  margin: 40px 0 0;
  line-height: 1.33;
  opacity: 0.5;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__madeby {
    margin-top: 30px;
    text-align: start;
  }
}

@media (min-width: 922px) {
  .footer__madeby {
    margin-top: 19px;
  }
}
