/* Project */
.project__filter-menu {
  margin: 0 auto ;
  padding: 16px 0 88px;
  background: #000D26;

  width: 320px;
  height: 208px;

  display: none;
  flex-direction: column;
  justify-content: space-around;
}
