.partners__logos {
  margin: 40px 0 0;
  padding: 0;
  /* max-height: 110px; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
}
