/* Select-filter */
.select-filter__menu {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 99;
  width: 100%;
  min-height: 296px;
  margin: 0;
  padding: 15px 0 0;
  box-sizing: border-box;
  list-style-type: none;
  background: #000d26;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
