.pin-slider__pin-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: -10px;
  top: -12px;
  background-image: url(../../../images/ico/components/pin.svg);
  background-size: 32px 32px;

}
