.study__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #e0f0ff;
  border-radius: 7px;
  max-width: 288px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .study__buttons {
    border-radius: 12px;
    justify-content: space-around;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .study__buttons {
    max-width: 540px;
  }
}
