/* Select-filter */
.select-filter__wrapper_active .select-filter__subtitle {
  padding-left: 16px;
}

.select-filter__wrapper_active .select-filter__btn-list {
  transform: rotate(-180deg);
}

.select-filter__wrapper_active ~ .select-filter__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
