.card__icon_image_project {
  background-image: url(../../../images/ico/components/services.svg);
}
  
.card__icon_image_brain {
  background-image: url(../../../images/ico/components/brain.svg);
}
  
.card__icon_image_micro {
  background-image: url(../../../images/ico/components/microchip.svg);
}
  
.card__icon_image_robot {
  background-image: url(../../../images/ico/components/robot.svg);
}