.study__title {
  color: #000d26;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 0 16px 0;
  letter-spacing: 0.0588372px;
}

@media screen and (min-width: 768px) {
  .study__title {
    margin-bottom: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .study__title {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 32px;
  }
}
