.study__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  max-width: 139px;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .study__button {
    font-size: 14px;
    line-height: 19px;
    border-radius: 10px;
    height: 42px;
    max-width: none;
  }
}

@media screen and (min-width: 1200px) {
  .study__button {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1px;
    height: 60px;
  }
}
