.form {
  display: grid;
}

@media screen and (min-width: 641px) {
  .form {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 29px;
  }  
}

@media screen and (min-width: 1025px) {
  .form {
    row-gap: 10px;
  }  
}
